/* Global */
* {
    margin: 0;
    padding: 0;
    font-family: "open-sans", sans-serif;
}
/* Body Tag */
  .body {
    background-color: #a782f1;    }

.nav-brand {
  position: relative;
  background: url(/images/GKF_Icon.png);
  width: 75px;
  left: 15px
  max-height 70px; /* height of the navbar */
}

nav ul li:hover a {
  color: #81bbdd;
}

/* make navbar stick to top of page */
.name {
  color: #81bbdd;
  font-size: 35px;
  font-family: 'open-sans';
  font-style: bold;
  padding-top: 4em;
  text-align: center;
}
.intro-para {
  font-size: 25px;
  font-family: 'serif', cursive;
  color: #81bbdd;
  margin-top: 85px;
  text-align: center;
}

body, html{
  height: 100%;
}

  #gf-image {
    position: relative; /* Declares position for allowing location changes */
    top: -355px;
    padding-left: 22%;
    margin-bottom: 35%;
    /* add responsive imaging to img */
  }

/* footer of page */
  .footer {
      position: fixed;
      left: 0;
      padding: 20px;
      bottom: 0;
      width: 100%;
      background-color: #212529;
      color: rgb(255, 255, 255);
      text-align: center;
      font-family: "open-sans", sans-serif;
      font-weight: 400;
      font-style: normal;
  }
