/* Global */
* {
    margin: 0;
    padding: 0;
    font-family: "open-sans", sans-serif;
}
/* Body Tag */
  .body {
      background-color:  #343a40;
  }

/* Type Writing Effect */

  .tw-heading {
    color: #7ccfcb;
  }
  .c1{
    display: inline-block;
    color: white;
  }
  .c2{
    display: inline-block;
    color: white;
  }
  .c3{
    display: inline-block;
    color: white;
  }
  .c4{
    display: inline-block;
    color: white;
  }
  h1{
    font-size: 1.2rem;
    margin-top: 1%;
    padding-left: 45%;
    padding-top: 9%;
    font-family: "open-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  h1 .type{
      font-size: 2.5rem;
      overflow: hidden;
      border-right: .15em solid #7ccfcb;
      white-space: nowrap; 
      width: 0;
      animation: 
        typing 1s steps(25, end) forwards;
  }
  h1 .type2{
      font-size: 2.5rem; 
      overflow: hidden;
      border-right: .15em solid #7ccfcb;
      white-space: nowrap; 
      width: 0;
      animation: 
        typing 1s steps(25, end) forwards;
      animation-delay: 1s;
  }
  h1 .type3{
      font-size: 2.5rem; 
      overflow: hidden;
      border-right: .15em solid #7ccfcb; 
      white-space: nowrap; 
      width: 0;
      animation: 
        typing 1s steps(25, end) forwards;
      animation-delay: 2s;
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  @keyframes blink {
    from { border-color: transparent }
    to { border-color: rgb(255, 255, 255); }
  }

  #gf-image {
    position: relative; /* Declares position for allowing location changes */
    top: -355px;
    padding-left: 22%;
    margin-bottom: 35%;
    
    /* add responsive imaging to img */
  }


/* !TESTING PURPOSES! */
/* typewriter effect 
  .typew-container{
    display: inline-block;
    padding-left: 850px;
    padding-top: 200px;
    color: #badbb7;
    font-family: "open-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    }

  #type-w {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: "open-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .typed-out{
    text-align: center;
    overflow: hidden;
    border-right: .1em solid rgb(80, 166, 206);
    white-space: nowrap;
    margin: 0;
    margin-right: auto;
    animation: typing 2s steps(20, end) forwards, blinking .8s infinite;
    font-size: 1.6rem;
    width: 0;
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  @keyframes blinking {
    from { border-color: transparent }
    to { border-color: white}
  }*/

/* footer of page */
  .footer {
      position: fixed;
      left: 0;
      padding: 20px;
      bottom: 0;
      width: 100%;
      background-color: #212529;
      color: rgb(255, 255, 255);
      text-align: center;
      font-family: "open-sans", sans-serif;
      font-weight: 400;
      font-style: normal;
  }
