/* Global */
* {
    margin: 0;
    padding: 0;
    font-family: "open-sans", sans-serif;
}
/* Body Tag */
  .body {
    background-image: linear-gradient(to top, #1a514f, #326e6c, #4a8d8a, #62aeaa, #7ccfcb);    }

.nav-brand {
  position: relative;
  background: url(/images/GKF_Icon.png);
  width: 85px;
  left: 15px;
  max-height: 70px; /* height of the navbar */
}

/* make navbar stick to top of page */


/* Type Writing Effect */

  .tw-heading {
    color: #1f1f25;
  }
  .c1{
    display: inline-block;
    color: white;
  }
  .c2{
    display: inline-block;
    color: white;
  }
  .c3{
    display: inline-block;
    color: white;
  }
  .c4{
    display: inline-block;
    color: white;
  }
  h1{
    font-size: 1.2rem;
    margin-top: 1%;
    padding-left: 45%;
    padding-top: 9%;
    font-family: "open-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  h1 .type{
      font-size: 2.5rem;
      overflow: hidden;
      border-right: .15em solid #2e3030;
      white-space: nowrap; 
      width: 0;
      animation: 
        typing 1s steps(25, end) forwards;
  }
  h1 .type2{
      font-size: 2.5rem; 
      overflow: hidden;
      border-right: .15em solid #2e3030;
      white-space: nowrap; 
      width: 0;
      animation: 
        typing 1s steps(25, end) forwards;
      animation-delay: 1s;
  }
  h1 .type3{
      font-size: 2.5rem; 
      overflow: hidden;
      border-right: .15em solid #2e3030; 
      white-space: nowrap; 
      width: 0;
      animation: 
        typing 1s steps(25, end) forwards;
      animation-delay: 2s;
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  @keyframes blink {
    from { border-color: transparent }
    to { border-color: rgb(255, 255, 255); }
  }

  #gf-image {
    position: relative; /* Declares position for allowing location changes */
    top: -355px;
    padding-left: 22%;
    margin-bottom: 35%;
    /* add responsive imaging to img */
  }

/* footer of page */
  .footer {
      position: fixed;
      left: 0;
      padding: 20px;
      bottom: 0;
      width: 100%;
      background-color: #212529;
      color: rgb(255, 255, 255);
      text-align: center;
      font-family: "open-sans", sans-serif;
      font-weight: 400;
      font-style: normal;
  }
